@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");

.App {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #000;
  display: flex;
  width: 100%;
}

.main-content {
  width: 100%;
  min-height: 100vh;
  .content-wrapper {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 3px;
    box-shadow: 0 0 5px #ccc;
    .item-count {
      font-size: 1rem;
      font-weight: bold;
      padding-top: 0.5rem;
    }
  }
}

/* Override Button Syle */
.btn {
  border-radius: 0;
  &.btn-brand {
    background-color: #ffff00 !important;
    border-color: #000000 !important;
    border-width: 2px;
  }
  &.btn-brand-2 {
    background-color: #d5f0f7 !important;
    border-color: #000000 !important;
    border-width: 2px;
  }
}
.input-group-text {
  border-radius: 0;
  background: #d5f0f7;
}
